<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta author="Linda">
    <title>UB International Language Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<header>
    <div style="background-color: #33FFFF;">
    <div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:63342/flaskr/templates/home.html">
            <input type="image" src="ILC.jpg" height="50" width="80" name="saveForm" class="btTxt submit" id="saveForm"/>
        </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;" class="container-fluid">
        <p class="text-center"><a href="login.html"><button class="btn btn-primary btn-sm">Login</button></a></p>
        <p class="text-center"><a href="signup.html"><button class="btn btn-primary btn-sm">Sign up</button></a></p>
        </div>
    </ul>

    <div style="color: #0066CC;">
    <br>
    <h1><center><FONT size="6.0"<center>International Language Club </font></center></h1>
    </div>
    <hr>
    <br>
    <br>
    <center><img src="Lang.jpg" height="350" width="600"></center>
</div>
</div>
</header>

<body style="background-color: #33FFFF;">
<div class="border-row" style="width:100%; margin-bottom:15px;"></div>
    <div class="container-fluid" align="center" style="min-height:100%">
        {% block body %}{% endblock %}
    </div>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>