<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta author="Linda">
    <title>UB International Language Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<header>
    <div style="background-color: #33FFFF;">
    <div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:63342/flaskr/templates/home.html">
            <input type="image" src="ILC.jpg" height="50" width="80" name="saveForm" class="btTxt submit" id="saveForm"/>
        </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <p class="text-center"><a href="login.html"><button class="btn btn-primary btn-sm">Login</button></a></p>
        <p class="text-center"><a href="signup.html"><button class="btn btn-primary btn-sm">Sign up</button></a></p>
    </ul>

    <div style="color: #0066CC;">
    <br>
    <h1><center><FONT size="6.0"<center>International Language Club </font></center></h1>
    </div>
    <hr>
    
</div>
</div>
</header>

<body>

<div class="container">
    <br>
    <h4>Please Login:</h4>
    <br>
    <form action="" class="form-inline" method="post">
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{ request.form.username }}">
        <input type="password" class="form-control" placeholder="Password" name="password" value="{{ request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
    </form>

    <p>{{ error }}</p>
</div>
</body>

<body style="background-color: #33FFFF;">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>


