<!DOCTYPE html>
<html lang="en">
<head>
    <title>UB International Language Club</title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta author="Linda">


</head>

<body style="background-color: #33FFFF;">
<div class="container-fluid">

<div style="color: #0066CC;">
<h1><center><FONT size="6.0"<center>International Language Club &nbsp;&nbsp;<img src="ILC.jpg" height="135" width="135"></font></center></h1>
</div>
<hr>
<p class="text-center"><a href="contact.html"><button class="btn btn-info">Contact Us</button></a>

<a href="https://buffalo.campuslabs.com/engage/organization/ILC" target="_blank"><button class="btn btn-info">UB Linked</button></a>

<a href=""><button class="btn btn-info">Events</button></a>

<a href="https://docs.google.com/forms/d/e/1FAIpQLSfHVrAhbENaTPiSB0b9PK37foyTfSSvME5j81lMG1g3hUVW0g/viewform?c=0&w=1" target="_blank"><button class="btn btn-info">Survey</button></a>

</p>
</hr>
<br>
<div class="container">

    <div style="color:blue">
    <div class="wrapper">
	<div>
	<h4>ILC at UB</h4>
	<p>This club will be known as a platform for students who wants to learn new
	languages and also who wants to grow themselves internationally. The club offers
	students opportunities to learn new languages outside of the classroom by a variety
	of language learning workshops, language learning social events and interesting
	language culture based events. By enhancing culture communications among various
	international topics related to language, the club will help students gain better
	understanding of international communciation and international culture.</p>
	</div>
</div>
<br>
<br>
<center><img src="Lang.jpg" height="230" width="500">

<br>

<div class="row">
<div class="container col-md-4 col-md-offset-4">
<h2 class="text-info">Executive Board Members: </h2>
<ul class="list-group">
<li class="list-group-item list-group-item-info"><a href="https://www.linkedin.com/in/daranxu/" target="_blank">Daran Xu</a>
<li class="list-group-item list-group-item-info"><a href="https://www.linkedin.com/in/laurenchan1/" target="_blank">Lauren Chan</a>
<li class="list-group-item list-group-item-info"><a href="https://www.linkedin.com/in/leeann-le-93529610a/" target="_blank">Leeann Le</a>
<li class="list-group-item list-group-item-info"><a href="https://www.linkedin.com/in/linda-yang-b8854889/" target="_blank">Linda Yang</a>
</ul>
</div>
</div>

<center><a href="https://www.facebook.com/groups/141521276275585/" target="_blank"><img src="facebook.png" /></a>

<a href="https://twitter.com/@ub_ilc" target="_blank"><img src="twitter.png" /></a>

</div>


</body>
</html>